@import "tailwindcss";
@import "@ssc/ui/styles.css";

:root {
  --background: hwb(0 100% 0%);
  --foreground: #171717;
  --secondary-background: #292f36;
  --TextWhite: #c7c7c7;
  --MainRed: #931621;
  --MainGray: #1b1b1b;
}

.bprogress .bar {
  --bprogress-color: linear-gradient(45deg, #ff715b -15%, #cb48b7 100%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary-background: var(--secondary-background);
  --color-whiteText: var(--TextWhite);
  --color-mainRed: var(--MainRed);
  --color-mainWhite: #f3f7f0;
  --color-mainGray: var(--MainGray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

@layer utilities {
  .default-gradient,
  .bg-gradient {
    background-image: linear-gradient(45deg, #ff715b -15%, #cb48b7 100%);
  }

  .gradient-border {
    border-image: linear-gradient(45deg, #ff715b -15%, #cb48b7 100%) 1;
  }

  .text-gradient {
    background: linear-gradient(45deg, #ff715b -15%, #cb48b7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Custom scrollbar styles */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ff715b -15%, #cb48b7 100%);
    border-radius: 3px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #ff8a75 -15%, #d563c7 100%);
  }
}

html {
  scroll-behavior: smooth;
  line-height: normal;
}

body {
  background: var(--background);
  color: #f3f7f0;
  font-family: Arial, Helvetica, sans-serif;
}
